:root {
--zIndex:999999;
}

.YuiplayerBox1 {
    margin:0px;    
    height:100vh;
    width:100vw;
    position:fixed;
    top:0px;
    left:0px;
    z-index: var(--zIndex);
    
}

.YuiplayerVideo1 {
    height:100vh;
    width:100vw;
    max-width:auto;
    object-fit:contain;
    background:black;
}


.YuiplayerBox2 {
    margin:0px;
    width:var(--PlayerWidth);
    position:relative;
    max-width:var(--PlayerMaxWidth);
    max-height:var(--PlayerMaxHeight);
    padding:0px;
}

.YuiplayerVideo2 {
    width:var(--PlayerWidth);
    max-width:var(--PlayerMaxWidth);
    max-height:var(--PlayerMaxHeight);
    object-fit:contain;
    background:black;
}



#YuiplayerPlayButton {
margin-left:8px; 
    margin-top:8px; 
    position: absolute;
}


.YuiplayerToolBox1 {
width:100vw;
    max-width:auto;
    height:40px;
    background-image: linear-gradient(to top, black, rgba(0,0,0,0));    
    padding-top:3px;
    padding-bottom:6px;
    position: absolute;
    bottom:0px;
}
.YuiplayerToolBox2 {
width:var(--PlayerWidth);
max-width:var(--PlayerMaxWidth);
    height:40px;
    background-image: linear-gradient(to top, black, rgba(0,0,0,0));    
    padding-top:3px;
    padding-bottom:6px;
    overflow:hidden;
    margin-top:-49px;
    position: absolute;
    bottom:3px;
}

#YuiplayerFullButton {
    height:40px;
    width:40px;
    margin:0px;
    display:flex; 
    align-items:center;
    justify-content:center;    
}
#YuiplayerVolumeButton {
    margin:0px;
    margin-left:auto;
    height:30px;
    width:30px;
    padding:5px;
    display:flex; 
    align-items:center;
    justify-content:center;   
}
#YuiplayerScreenshotButton {
    height:30px;
    width:30px;
    padding:5px;
    margin:0px;
    display:flex; 
    align-items:center;
    justify-content:center;
}
#YuiplayerPlayList {
    height:40px;
    width:40px;
    padding:0px;
    margin:0px;
    display:flex; 
    align-items:center;
    justify-content:center;
    z-index:0;
}
#YuiplayerTimeP {
    margin-left:40px;
    margin-top:8px; 
    position: absolute;
    font-size:0.8em;
    height:24px;
    color:#aaaaaa;
    display:flex; 
    flex-direction:column;
    align-items:center;
    justify-content:center;
    pointer-events: none;
}
#YuiplayerProgressRanged {
    width:100%;
    height:4px;
    margin-left:0px;
    margin-top:-4px;
    position: absolute;
    opacity:0;
}
#YuiplayerProgressBox {
    width:100%;
    height:4px;
    margin-left:0px;
    background:#dedede;
    --YuiplayerProgress:0%;
}
#YuiplayerProgressAlready {
    width:100%;
    height:4px;
    margin-left:var(--YuiplayerProgress);
    background:#DB000A;
    transform: translate(-100%,0%);   
    display:block; 
}
#YuiplayerProgressAlready::after {
    content:"";
    display: block;
    width:10px;
    height:10px;
    position: absolute;
    margin-top:-3px;
    background:white;  
    margin-left:  100%;
    transform: translate(-50%,0%);
    border-radius:50%;
}
#YuipalayerWarnP {
    position: absolute;
    height:20px;
    margin-left:50%;
    padding-left:16px;
    padding-right:16px;
    background:black;
    z-index: 5;
    border-radius:5px;
    display:flex; 
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:white;
    opacity:0;
    pointer-events: none;
    transform: translate(-50%,50%);
}



#YuiplayerBarrage p {
    margin:0px;
    padding:0px;
    white-space: nowrap;
    font-size:16px;
    height:16px;
    overflow:hidden;
    transform: translateX(-100%);
    animation:firstPAnime linear  10s;
}
@keyframes firstPAnime {
from { transform: translateX(100%); }
to { transform: translateX(-100%); }
}
#YuiplayerVideoList {
position: absolute;
right:0px;
height:calc(100% - 3px);
padding:0px 16px;
background:#232323;
overflow:auto;
z-index:1;
display:none;
}
#YuiplayerVideoListBack {
position: absolute;
left:0px;
top:0px;
width:100%;
height:100%;
background:none;
z-index:1;
display:none;

}
#YuiplayerVideoList div {
width:148px;
margin:8px 0px;
position:relative;
img {
width:100%;
aspect-ratio:3/2;
object-fit:cover;
filter:brightness(65%);
}
p{
position: absolute;
top:-8px;
left:8px;
color:#aaaaaa;
}
}
#YuiplayerVideoList div:hover {
color:#FF6699;
}